.buy {
  margin: 10px auto;
  max-width: 480px;
  & > li {
    margin-bottom: 30px;
  }
  .products {
    margin: 10px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    .product {
      .price {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.date {
  li {
    padding-left: 10px;

    & > span {
      display: block;
      margin-left: 10px;
    }
  }
}
