.buy {
  margin: 10px auto;
  max-width: 480px;
  width: 100%;
  & > li {
    margin-bottom: 30px;
  }
  .localization {
    .coordonate {
      .city {
        display: block;
      }
    }
  }
  .products {
    margin: 10px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    .product {
      .price {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.products-add {
  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: row-reverse;
  }

  .product > div {
    display: inline-block;
    width: calc(100% - 3rem);
  }
  .product .delete {
    display: inline-block;
    margin-left: .7rem;
  }
}

.date {
  li {
    padding-left: 10px;

    & > span {
      display: block;
      margin-left: 10px;
    }
  }
}

form {
  & > div > label {
    display: block;
  }
}
