ul {
  padding-left: 0;
  list-style: none;
}

ul > li.buy {
  padding: 1rem;
  border: 0.4rem solid #fff;
  background-color: #192682;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

@import "account.scss";
